{% extends 'base.html.twig' %}

{% block title %}Projet E - Inscription{% endblock %}

{% block content %}
<Div class="container ">
    <div class="border border-white p-5 w-50">
    <h1 class="p-4 border border-white text-center Ohm">Inscription</h1>
    <br>
    {{form(form)}}
    </div>
</Div>
{% endblock %}
