    <h2 class="d-flex justify-content-evenly align-items-center"> Map</h2>
<div class="d-flex justify-content-evenly align-items-center p-2 bd-highlight m-3">
	<div class="w-50 p-3 border text-center">
		<h3>
			La map :
		</h3>
		
		<button class="btn btn-primary mt-1 " type="button" data-bs-original-title="" title="" style=" --bs-orange">
			<a href="" data-bs-original-title="" title="">
				<span class="mx-1" style="--bs-orange">

				</span>

				<i class="fa fa-angle-right" style="--bs-orange" ></i>
			</a>
		</button>
	</div>
	{# <div class="w-25 p-3 border text-center">
		<h3>
			Inscription :
		</h3>
		
		<button class="btn btn-bs-orange mt-1" type="button" data-bs-original-title="" title="">
			<a href="#" data-bs-original-title="" title="">
				<span class="mx-1">
					ouais ouais le test :
				</span>

				<i class="fa fa-angle-right"></i>

			</a>
		</button>
	</div> #}
</div>