<div class="row row-cols-2">

    <div class="col left-col d-flex justify-content-evenly">
        <div class="row row-cols-2">
            <div class="col-6"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984806485928317018/accueil.png" alt="" srcset="" width="350 vw"></div>
            <br>
            <div class="col-6"> <img src="https://cdn.discordapp.com/attachments/943429806815580160/984807177875234836/map.png" alt="" width="350"> </div>
            <br>
            <div class="col-6"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984807103254364250/inscription.png" alt="" width="350"></div>
            <br>
            <div class="col-6"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807296452403240/projet.png " alt="" width="350"></div>
            <br>
            <div class="col-6"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806825524346910/crud-user.png" alt="" width="350"> </div>
            <br>
            <div class="col-6"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984807318615122022/select-crud.png" alt="" srcset="" width="350"></div>
            
        </div>
     </div>
     <div class="col right-col d-flex justify-content-evenly"> 
        <div class="row row-cols-2">
            <div class="col-6"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984806746075856896/connexion_inscription.png" alt="" width="300"></div>
            <br>
            <div class="col-6"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984806714434003014/connexion.png" alt="" width="300"></div>
            <br>
            <div class="col-6"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806638303203338/add-projet.png " alt="" width="300"></div>
            <br>
            <div class="col-6"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807198171475998/modif_projet.png " alt="" width="300"></div>
            <br>
            <div class="col-6"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807271265599488/modif-crud-user.png" alt="" width="300"> </div>
            <br>
            <div class="col-6"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806784126554142/crud-projet.png " alt="" width="300"> </div>
            <br>
            <div class="col-6"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807247697833994/modif-crud-projet.png" alt="" width="300"> </div>
        
            </div> 
        </div> 
    </div>
</div>

<div class="row row-cols-2">

    {# <div class="col left-col">
    <div class="row row-cols-2">
           <div class="col"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807296452403240/projet.png " alt="" width="10"></div>
            <br>
         <div class="row row-cols-2">
             <div class="col"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806638303203338/add-projet.png " alt="" width="10"></div>
             <br>
             <div class="col"><img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807198171475998/modif_projet.png " alt="" width="10"></div>
         </div>
       
    <div class="col right-col"> 
         <div class="row row-cols-2">
            <div class="col"><img src="https://cdn.discordapp.com/attachments/943429806815580160/984807318615122022/select-crud.png" alt="" srcset="" width="10"></div>
            <br>
            <div class="row row-wols-2"></div>
            <div class="col"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806825524346910/crud-user.png" alt="" width="10"> </div>
            <br>
            <div class="col"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807271265599488/modif-crud-user.png" alt="" width="10"> </div>
            <br>
            <div class="col"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984806784126554142/crud-projet.png " alt="" width="10"> </div>
            <br>
            <div class="col"> <img src=" https://cdn.discordapp.com/attachments/943429806815580160/984807247697833994/modif-crud-projet.png" alt="" width="10"> </div>
        </div>
     </div>
        </div>
    </div> #}
</div>