<footer class="footer border border-white pistion-fixed bottom-0">
	<div class="container-fluid">
		<div class="row">
            <div class="col-sm"></div>
			<div class="col-sm m-2">
				<p class="mb-0">2022 Projet-E
                
				</p>
                <small>
                      Copyright GLA-WEB©
                </small>
			</div>
            <div class="col-sm"></div>
		</div>
	</div>
</footer>