<!-- nav bar -->
<div class="main-header-right row m-0">
	<div class="main-header-left">
		<div class="logo-wrapper">
			<a href="{{ path('app_home')}}">
				<img src="{{ asset('assets/image/Logo-dark.png')}}" alt="logo projet e" class="img-fluid">
			</a>
		</div>
           
	</div>
</div>
