<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="assets/styles/.css">
		<title>
			{% block title %}
				Projet E
			{% endblock %}
		</title>
		{% include "component/stylesheets.html.twig" %}
	</head>
	<body>
		{% include "component/navbar.html.twig" %}
		{% block content %}{% endblock %}

		{% include "component/javascripts.html.twig" %}
	</body>
</html>
